body{
    background-image: url(../images/background-scroll.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    font-style: italic;
    font-size: 50px;
    position:sticky ;
    color: white;
}

.text{
    color: white;
    font-size:35px;
    font-style: italic;
}

#try{
    color: white;
    font-size:25px;
}

.nice-try{
    color: magenta;
    font-size: 17px;
    font-style:italic;
}