html, body {
    height: 5000px;
}

.box {
    width: 400px;
    height: 400px;
    background-color: #5B51D8;
    /* opacity: 1; */
    position: sticky;
    left: 0;
    top: 0;
}

.second-box {
    width: 100px;
    height: 100px;
    background-color: #17A9FD;
    /* position: absolute;
    right: 0;
    bottom: 0; */
    /* transform: scale(1.5); */
    /* transform: translate(20px, 50px) scale(1.5); */
}
